<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Streaming</title>
</head>
<body>
<img src="https://videoserver-static-files.s3.ap-northeast-2.amazonaws.com/1716627534810-animationImage01.png">
<video width="1280" height="640" controls>
  <source src="https://videoserver-static-files.s3.ap-northeast-2.amazonaws.com/1716575321678-%EC%9E%A5%EC%86%A1%EC%9D%98%ED%94%84%EB%A6%AC%EB%A0%8C.E01.230930.720p.WANNA.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</body>
</html>
